/* movie search  */

.bg-clr{
    /* background-color: #273036!important; */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,191,162,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 0px!important;
    border: none!important;
}

.search-dty{
    height: 50px;
    outline: none!important;
}

.search-dty:focus {
    outline: none !important;
  }


.imgstyls:hover{
    transform: scale(1.1);
}

.star{
    font-size: 2.4rem;
    margin-top: -10px;
    margin-left: 20px;
}

.aa{
    text-decoration: none;
    color: #0a1c27;
}

/* detail  */

.cardalign{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardstyles{
    border: 0px!important;
    border-radius: 3px;
    height: 600px;
}
.imgsty{
    height: 600px;
}
.cardstyle{
    border: 0px!important;
    border-radius: 3px;
    height: 500px!important;
    background-color: #0a1c27!important;
}

.cardbody{
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255)!important;
}

.titlesty{
    font-weight: bold!important;
    font-size: 2.5rem!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn{
    background-color: black!important;
    color: white!important;
}


.btnsty{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    position: absolute;
    font-size: 2rem;
    border-radius: 50%;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
}



body{
    background-color: #0a1c27!important;
}