/* movie search  */

.bg-clr{
    background-color: #273036!important;
    border-radius: 0px!important;
}

.search-dty{
    height: 50px;
    outline: none!important;
}

.search-dty:focus {
    outline: none !important;
  }






/* detail  */

.cardalign{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardstyles{
    border: 0px!important;
    border-radius: 3px;
    height: 600px;
}
.imgsty{
    height: 600px;
}
.cardstyle{
    border: 0px!important;
    border-radius: 3px;
    height: 500px!important;
}

.cardbody{
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.titlesty{
    font-weight: bold!important;
    font-size: 2.5rem!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn{
    background-color: black!important;
    color: white!important;
}

